name: Video Classifier

on:
  push:
    branches: ["main", "develop"]
  pull_request:
jobs:
  docker-test:
    name: run test in docker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up docker test buildx
        uses: docker/setup-buildx-action@v3

      - name: build test image
        run: |
          docker build \
           --target test \
           --cache-from type=gha \
           --cache-to type=gha,mode=max \
           -t app-test .
      - name: Run test
        run: docker run --rm app-test
    
    
  docker-build:
    name: run docker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: build image
        run: |
          docker build \
           --target production \
           --cache-from type=gha \
           --cache-to type=gha,mode=max \
           -t dl-project:latest .